*{
  font-family: 'Courier New', Courier, monospace;
}

body{
 padding: 30px 60px;
}

input{
  width: 100%;
  font-size: 1.2rem;
}

.card-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  border: 1px solid #3b3b3b;
    margin: 14px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 6px 12px 0 rgb(0, 0, 0, 0.1);
}

.card img {
  max-width: 150px;
  margin: auto;
  text-align: center;
}

.card p {
  text-align: center;
  width: 100%;
}